* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container {
  width: 60%;
  height: 500px;
  margin:40px auto;
  border: 1px solid black;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.30);
}


h1 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

h2 {
  margin-bottom: 5px;
}

.box-info {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}


.personal-data {
  margin-top:20px ;
  padding: 10px;
}


.list {
  margin-left: 40px;
  margin-top: 15px;

}
